body {
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;

}

header, main, footer {
    max-width: 760px;
    margin: 0 auto;
}

header {
    justify-content: center;
    background-color: crimson;
    padding: 1rem;

}
header img {
    
    width: 250px;
    height: auto;
}


h1 {
    font-size: 1.5rem;
    color: white;
    text-align: center
}

footer {
    background-color: crimson;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 1rem;
    
}

footer a {
    color:turquoise;
}

footer a:visited {
    color:skyblue
}
