@media only screen and (min-width: 80rem) {

    header img {
        max-width: 250px;
        
        
    }
    header{
        padding:1.5rem;
    }
    nav ul {
        align-content: center;
    }
    body{
        font-size: 25px;;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery figure img:hover{
        box-shadow: 0 0 50px #333;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards section{
        display: block;
        width:auto;
        overflow: hidden;
        text-align: center;
        justify-items: center;
        
        
       
    }
    
    .cards section img{
        max-width: 100%;
        padding-right: 2rem;
        align-content: center;
        margin-left: -20px;
        
    }
    .cards section div p{
        max-width: 100%;
        padding: .5rem; 
    }
    

}