/* CSS HEX 
--light-green: #7dde92ff;
--gold-crayola: #f3c178ff;
--ming: #387780ff;
--dark-jungle-green: #00120bff;
*/
body {
    font-size: 18px;
    font-family:'Montserrat', sans-serif
}
header, footer {
    background-color: #7dde92ff;
    
    
    align-items: center;
    justify-content: center;
    padding: 10px;

}
header, main, footer {
	max-width: 100%;
	margin: 0 auto;
}

nav {
    background-color: #00120bff;
    text-align: center;
    border-radius: 20px;
    max-width: 60%;
    margin: 0 auto;
   
    
    

}
nav a:hover {
    background-color: #387780ff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    
    
    
}


nav ul li a {
    display: block;
    color: #f3c178ff;
    padding: 0.75rem;
    text-decoration: none;
    

}
img {
    max-width: 100%;
    
    
    
}
main {
    display: grid;
    grid-template-columns: 1fr;
    
}
div{
    padding: 10px;
}

.index{
    grid-column: span 2;
}

main div {
    margin: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 0 1rem;
    background-color: rgb(235, 234, 231);
}

.image{
    grid-column: span 2;
}