
@media only screen and (min-width: 48rem) {

    nav button {
        display: none;
    }

    nav ul.hide{
        display: block;
    }

    nav ul {
        text-align: center;
        
    }

    ul#primaryNav{
        display: flex;
    }
    nav ul li{
        flex: 1 1 auto;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
}
    header{
        font-size: 2rem;
    }
    header img {
        max-width: 250px;
        
    }
    main{
        max-width: 80%;
        margin: 0 auto;
    }
     .article img {
        float: right;
        max-width: 50%;
        max-height: 50%;
        padding: 1rem;
        
        
        
    }
    .article h3 {
        text-align: center;
    }
    .article p {
        text-align: justify;
    }
    .forecast{
        display: flex;
        padding: 2rem;
        
    }
    .forecast section{
        flex: 1 1 auto;
        text-align: center;
        background-color: lightskyblue;
        padding: 2rem;
        border: 1px black solid
    }
    .contact img{
        max-width: 50%;
        float: left;
        overflow: hidden;
        padding: 1rem;
        display:block;
    }
    .contact{
        overflow: hidden;
    }
    section{
    
        width: auto;
        height: auto;
        overflow: auto;
    }
    section h2{
        font-size: 28px;
    }
    section p{
        font-size: 18px;
    }
    .article{
        padding-top: 1rem;
    }
} 