body {
    font-size: 16px;
    font-family: 'Rubik', serif;
    margin: 0 auto;
}
header, footer {
    background-color: #80bd98;
    display:block;
    text-align: center;
    padding:0.5rem;
    font-family: 'Pacifico', sans-serif;
    
}
.heroimg img{
    display: block;
    float: left;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* NAV */
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    
    
}
nav {
    background-color: #A5BD80;
    font-family: Verdana, sans-serif;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    
    justify-content: center; 
}
nav ul li a {
    display: block;
    padding: 0.8rem 2%;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid #777;
    
}
nav ul li a.active {background-color: #8087BD; color: #fff;}

nav ul li a:hover {
    background-color: #80BDB7;
}
nav ul.hide{
    display:none;
    margin: 0 auto
}

/* MAIN */

main{
    /* max-width: 100%; */
    margin: 0 auto;
    /* padding: 1rem; */
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}
.section1 {
    background-color: #80a5bd46;
    padding: 1rem;
    display: block;
    max-width: 100%;
    text-align: center;
}
.section2 {
    background-color: #80a5bd46;
    padding: 1rem;
    max-width: 100%;
    display: block;
    text-align: center;

}
.section3{
    background-color: #80a5bd46;
    padding: 1rem;
    text-align: center;


}
.section1 img{
    max-width: 100%;
    display: block;

}
.section2 img{
    max-width: 100%;
    display: block;
}
.section3 iframe{
    display:none;
    
}

.forecast, .currently{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    
}
.forecast section{
    flex: 15%;
    text-align: center;
    background-color: lightskyblue;
    padding: 2rem;
    border: 1px black solid;
    max-width: 100%;
}
.currently {
    flex-direction: column;
    text-align: center;
    background-color: lightskyblue;
    padding: 2rem;
    border: 1px black solid;
    max-width: 30%;
    margin: 0 auto;
    
}
.currently img{
    width: 100px; 
    margin: 0 auto;
     max-width: 100%; 
     display: block; 
}
.currently span{
    padding: .5rem;
}
.contact {
    background-color: lightskyblue;
    padding: 1.5rem;
    margin: 20px;
    max-width: 100%;
    
}
.contact ul li{
    list-style-type: none;
    padding: .5rem;
    font-size: 20px;;
}
.contact picture {
    display: none;
    
    max-width: 100%;
   }
.whoweare img{
    display: block;
    max-width: 100%;
}
.whoweare{
    font-size: 1.5rem;
}
.ads img{
    display: block;
    max-width: 100%;
}
.events ul li{
    list-style-type: none;
    padding: .25rem;
    font-size: 1.25rem;
}
.contact-info {
    text-align: center;
    background-color: #80bd9841;
    max-width: 40%;
    margin: 20px auto;
    padding: 1rem;
    border-radius: 5px;
}
.contact-info ul li{
    list-style-type: none;
    padding: .5em;
    
}
.embed picture iframe{
    /* max-width: 600px; */
    margin: 0 auto;
    align-content: center;
}
.directors{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    list-style-type: none;
    text-align: center;
    
}
.directors img{
    align-items: center;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: 300px;
    padding: 1rem;
}
.directors div ul li:first-child{
    list-style-type: none;
}
.directors div ul li:nth-child(2){
    list-style-type: none;
}
.directors div ul li:nth-child(3){
    list-style-type: none;
}
.herodiv img{
    padding: 2rem;
    display:block;
    max-width: 100%;
    margin: 0 auto;
}
h1{
    font-size: 2.5rem;
}

/* FORM */
form{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #80bd9841;
    /* box-shadow: gray; */
    margin: 10px auto;
}
form fieldset {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border: 1px solid #80bd98;
    border-radius: 10px;
    padding: 0 4rem 2rem 2rem;
    /* background-color:#80bd9841; */
    max-width: 60%;
    
    
    
}
form legend{
    color:#00120bff;
    margin: 0 1rem;
    padding: 0 .5rem;
    
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #00120bff;
    font-size: .8rem;
    
}

form label.top input, form label.top select {
    
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #00120bff;
    width: 100%;
    max-width: 20rem;
    background-color: #fff;
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;

}
form input.submitBtn{
    border: none;
    background-color: #80A5BD;
    color: #000000;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: #f3c178ff solid 6px;
}

form label.top input:required:valid{
    border-left: #7dde92ff solid 6px;
}
.form-label{
    text-align: center;
}
.tiers{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    
}
.tiers div{
    padding: 1rem;
}
.tiers div:nth-child(1){
    background-color:#80BDB7;
}
.tiers div:nth-child(2){
    background-color:#64430688;
}
.tiers div:nth-child(3){
    background-color:#b9b9b9c7;
}
.tiers div:nth-child(4){
    background-color:#f1ca1ca8;
}

/* DIRECTORY */
.directory{
    display: grid;
    
    grid-template-columns: 1fr;
    
}
.directory section{
   
    background-color: #80BDB7 ;
    padding: 2rem;
    margin: 5px;
    text-align: right;
    border:1px solid #000000;
    
}
.directory h3{
    padding: 2rem;
}

.directory img{
    
    max-width: 100%;
    float: left;
    padding: 1rem ;
    display: block;   
    
}
.directory section:nth-child(6) img{
    padding: 1rem 2rem;
}

main button {
    margin: .2rem 2%;
    background-color: #8087bd81;
    border: 1px solid #000000;
    font-size: 1.6rem;
    width: 150px;
    border-radius: 8px;
    
    
}
.grid div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}